body {
    background-color: gray;
    margin: 0;
    padding: 0;
    font-family: "Georga", "Times New Roman",
        Times, serif;
    font-size: 18px;
    Line-height: 150%;
}
header {
    width: 960px;
    background-color: white;
    border: black solid 2px;
    margin: 0px auto;
}
.links {
    float: right;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 15px;
}
.title {
    background-color: red;
    float: left;
    display: inline-block;
    height: 30px;
    padding: 15px;
}

#ProfilePicture {
    width: 200px;
    height: 200px;
    float:left;
}
.container {
    width:960px;
    border: black solid 2px;
    margin: 0px auto;
    margin-top: 15px;

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
   }
#Text {
    float: left;
}